h2{
    /* text-shadow: 2px 2px #00fff2; */
    font-family: Mukta;
}

#loc{
    top: 5px;
    border-radius: 0;
}
#map{
    height: 70vh;
}
#form{

}
#markertrends{

}
#message{

}